@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --font: "Roboto", sans-serif;
}
table {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
thead tr {
  background: linear-gradient(
    40deg,
    #bf68e6 20%,
    #9e48cd 51%,
    #bf68e6 90%
  ) !important;
  color: #fafafa;
  font-family: var(--font);
}
tbody td,
.cart-total td {
  font-family: var(--font);
}
tbody th .fa-solid {
  color: #616161;
}
.cart-total h1 {
  text-transform: uppercase;
  font-family: var(--font);
  color: #bf68e6;
  font-size: 1.7rem;
}
.btn-primary {
  background: linear-gradient(
    40deg,
    #bf68e6 20%,
    #9e48cd 51%,
    #bf68e6 90%
  ) !important;
  border-color: #bf68e6 !important;
}
.btn {
  text-transform: capitalize;
  font-family: var(--font);
}
