@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.checkoutBg {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    60deg,
    rgba(252, 241, 213, 1) 0%,
    rgba(255, 194, 175, 1) 100%
  );
}
.checkout {
  width: auto;
  height: auto;
  background-color: #ffff;
  border-radius: 10px;
}
.checkout-form .form-label {
  font-size: 1.3rem;
}
.checkout-form .form-control {
  font-size: 1rem;
}
.checkout-form .form-control:focus,
.checkout-form .form-select:focus {
  box-shadow: none;
  border: 2px solid #bf68e6;
}
.selectedNumber .checkOut-Number {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}
.selectedNumber .number-price {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}
.OrderSummary .title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}
.details h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}
.OrderSummary .btn-primary {
  background-color: #bf68e6 !important;
  border-color: #bf68e6 !important;
  color: #fafafa !important;
}
.OrderSummary .btn {
  width: 100%;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.OrderSummary .disclaimer {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  margin-top: 10px;
}
.OrderSummary .disclaimer a {
  text-decoration: none;
  color: #bf68e6;
}
