@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: "Montserrat" !important;
}

.wrapper {
  background: linear-gradient(
    to bottom,
    rgba(242, 56, 0, 1) 0%,
    rgba(247, 129, 2, 1) 100%
  );
}
.col1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.col1 .title {
  font-size: 100px;
  color: #fafafa;
}
.col1 h2 {
  color: #fafafa;
  font-size: 30px;
}

.col2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerImage img {
  height: auto;
  width: 67%;
}
/* FAQ section */
.Faq h1 {
  margin-top: 20px;
  color: #000 !important;
}
.Faq h1 .fa-solid {
  color: rgba(242, 56, 0, 1);
}
.Faq h1 span {
  margin-left: 10px;
}
.accordion {
  margin-top: 30px;
}
.accordion-button:not(.collapsed) {
  color: #fafafa !important;
  font-size: 1.5rem;
  background: linear-gradient(
    to bottom,
    rgba(242, 56, 0, 1) 0%,
    rgba(247, 129, 2, 1) 100%
  ) !important;
}
.accordion-button {
  font-size: 1.5rem !important;
  color: #000 !important;
  background-color: #fafafa !important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.accordion-button:focus {
  border-color: rgba(247, 129, 2, 1) !important;
  box-shadow: none !important;
  border-bottom: none !important;
  border-left: none !important;
}

.accordion-body {
  font-size: 1rem;
  font-weight: 500;
}
.accordion-item {
  margin-top: 17px;
  border: 2px solid #f5f5f5 !important;
  border-radius: 10px;
}
.accordion-button:not(.collapsed)::after {
  display: none;
}
.accordion-button::after {
  display: none;
}
.accordion-item h2 button .fa {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3 all ease;
}
.accordion-item h2 button.collapsed .fa {
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(242, 56, 0, 1);
}

@media screen and (min-width: 786px) and (max-width: 992px) {
  .col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px;
  }
  .col2 {
    display: none;
  }
  .bannerImage img {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 786px) {
  .col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px;
  }
  .col1 .title {
    font-size: 30px;
  }
  .col2 {
    display: none;
  }
  .Faq h1 {
    font-size: 30px !important;
  }
  .accordion-button:not(.collapsed) {
    font-size: 1rem;
  }
  .accordion-button {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 576px) {
  .col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
  }
  .col2 {
    display: none;
  }
  .col1 .title {
    font-size: 30px;
  }
  .col h2 {
    font-size: 16px;
  }
  .Faq h1 {
    font-size: 16px;
  }
  .accordion-button:not(.collapsed) {
    font-size: 1rem;
  }
  .accordion-button {
    font-size: 1rem !important;
  }
}
