@font-face {
  font-family: "Montserrat";
  src: url(../Fonts/Montserrat-Regular_d60d904c27aa445d89a0a8e18a1f3fed.ttf);
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: black;
}

li {
  list-style-type: none;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h3,
h5 {
  font-family: "Montserrat", sans-serif;
}

.offer-banner-head h1 {
  font-size: 4rem;
}
.offer-banner-head p {
  font-size: 1.6rem;
}

.badge-bg-cont {
  position: absolute;
  margin-top: 40px;
  background: url("../Assets/offerBadge1.png") no-repeat;
  background-size: cover;
  width: 5rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: white;
  font-weight: bold;
}
.badge-bg-cont .blink_me {
  animation: blinker 1.6s linear infinite;
  line-height: 16px;
  font-size: 16px;
}

.ribbon span {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    opacity: 0.6;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.ribbon {
  animation-name: examples;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes examples {
  0% {
    transform: translateY(-16px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-16 px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 450px) {
  .offer-banner-head h1 {
    font-size: 3rem;
  }
  .offer-banner-head p {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1400px) {
  .col-div-2 h1 {
    font-size: 1.5rem !important;
  }
  .badge-bg-cont {
    position: absolute;
    background: url("../Assets/offerBadge1.png") no-repeat;
    background-size: cover;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }
  .badge-bg-cont .blink_me {
    animation: blinker 1.6s linear infinite;
    line-height: 16px;
    font-size: 12px;
  }
  .card-offer-row .col-div-3 {
    font-size: 9.75px;
  }
}
