* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wish-head-banner {
  font-family: "Kaushan Script", cursive;
}
.card-wish-row .col-div-3 {
  font-size: 12px;
}
