<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,minimum-scale=1"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="./Assets/orangeLogo.png"
    />
    <link rel="apple-touch-icon" href="./Assets/logo.png" />
    <title>VIP Mobile Number | Fancy</title>
  </head>

  <body>
    <section class="mobile-navbar">
      <div class="container-fluid p-0" style="background: white">
        <div id="myNav" class="overlay">
          <div
            class="d-flex align-items-center justify-content-between px-3 pt-2"
          >
            <button
              class="border-0 d-flex flex-column align-items-center nav-mob-toggler ms-2 bg-white"
            >
              <span class="fa-solid fa-bars" id="nav-mob-icon"></span> Menu
            </button>
            <a href="./index3.html">
              <div class="mob-logo-cont pb-1">
                <img
                  src="Assets/vipnumlogo.png"
                  style="width: 100%; height: 100%"
                />
              </div>
            </a>
            <div class="d-flex">
              <button
                class="border-0 d-flex flex-column align-items-center bg-white text-dark me-2"
                onclick="sign()"
              >
                <i
                  class="fa-solid fa-circle-user"
                  style="font-size: 1.2rem; color: #bf68e6"
                ></i
                >signup
              </button>
              <button
                class="border-0 d-flex flex-column align-items-center bg-white text-dark"
              >
                <img
                  src="./Assets/ShoppingBag.png"
                  style="width: 1.2rem"
                  alt="cart-img"
                />
                My Cart
              </button>
              <span class="cart-count">0</span>
            </div>
          </div>
          <div class="px-2" style="background-color: #fff">
            <form
              class="form-inline mx-auto d-flex mx-auto px-1"
              style="
                border: 2px solid #bf68e6;
                border-radius: 20px;
                width: 100%;
              "
            >
              <select
                class="custom-select border-0 text-dark"
                style="
                  border-radius: 15px;
                  background-color: #fff;
                  outline: none;
                "
                id="inputGroupSelect01"
              >
                <option selected="">Anywhere</option>
                <option>Sum Total</option>
                <option value="1">Starts with</option>
                <option value="2">Ends with</option>
                <option value="2">Contains with</option>
                <option value="2">Not Contains</option>
              </select>
              <input
                class="form-control border-0"
                style="border-radius: 20px"
                type="text"
                placeholder="Search Number"
                aria-label="Search"
              />
              <a
                class="btn border-0"
                type="submit"
                style="
                  background: #fff !important;
                  color: #9e48cd !important;
                  padding: 4.5px 8px;
                  border-radius: 15px;
                  margin-top: 2px;
                "
                ><i class="fa-solid fa-magnifying-glass"></i
              ></a>
            </form>
          </div>

          <div class="overlay-content d-flex">
            <div class="w-100" style="padding-top: 2.2rem">
              <h4>
                <a href="./index3.html"
                  ><span class="fa-solid fa-house me-4"></span>HOME</a
                >
                <a href="./About.html"
                  ><span class="fa-solid fa-id-badge me-4"></span>About Us</a
                >
                <a href="./vipNumber.html"
                  ><span class="fa-solid fa-store me-4"></span>VIP Numbers</a
                >

                <a href="./offer.html"
                  ><span class="fa-solid fa-sack-dollar me-4"></span>Offers</a
                >
                <a href="./offer.html"
                  ><span class="fa-solid fa-heart me-4"></span>Whistlist</a
                >
                <a href="./contactUs.html"
                  ><span class="fa-solid fa-phone me-4"></span>Contact us</a
                >
                <a href="./signup.html"
                  ><span class="fa-solid fa-user me-4"></span>Sign IN</a
                >
              </h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="d-block d-lg-none">
      <button class="chatButtonMobile">
        <img src="./Assets//chat.svg" width="20px" />
      </button>
      <div class="boxMobile d-none p-3">
        <div class="d-flex justify-content-end">
          <div class="closeMobile">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="d-flex flex-column">
          <a href="./contactUs.html" class="btn btn-primary mt-2">
            Chat with us <i class="fa-solid fa-comment"></i>
          </a>
          <a
            href="whatsapp://send/?phone=+91%2077100%2067100&text=Hi!"
            class="btn btn-primary mt-2"
          >
            Contact us <i class="fa-solid fa-phone-flip"></i>
          </a>
          <div class="myfaq p-3">
            <h1
              style="
                font-size: 1.2rem;
                color: #bf68e6;
                font-family: 'Poppins', sans-serif;
              "
            >
              FAQ <i class="fa-solid fa-circle-question"></i>
            </h1>
            <div
              class="accordion accordion-flush"
              id="accordionFlushExample-sm"
            >
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOneMobile">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOneMobile"
                    aria-expanded="false"
                    aria-controls="flush-collapseOneMobile"
                  >
                    What is a VIP number ?
                  </button>
                </h2>
                <div
                  id="flush-collapseOneMobile"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingOneMobile"
                  data-bs-parent="#accordionFlushExample-sm"
                >
                  <div class="accordion-body">
                    MNP stands for Mobile Number Portability, it is basically
                    the process to switch your current mobile number to another
                    network service provider without having to buy a new number.
                    It allows you to keep the same number even after changing
                    the number’s service provider.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwoMobile">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwoMobile"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwoMobile"
                  >
                    Can I choose my mobile number?
                  </button>
                </h2>
                <div
                  id="flush-collapseTwoMobile"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingTwoMobile"
                  data-bs-parent="#accordionFlushExample-sm"
                >
                  <div class="accordion-body">
                    Yes, that is what we offer, a choice for all. You can
                    suggest a number of your wish or you can even select one
                    from our collection. As always, the choice is yours.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThreeMobile">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThreeMobile"
                    aria-expanded="false"
                    aria-controls="flush-collapseThreeMobile"
                  >
                    How to book a number/service?
                  </button>
                </h2>
                <div
                  id="flush-collapseThreeMobile"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingThreeMobile"
                  data-bs-parent="#accordionFlushExample-sm"
                >
                  <div class="accordion-body">
                    Select a number then book it. This gives your details to our
                    sales team who will coordinate with you within the next 24
                    working hrs.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      let menuButton = document.querySelector(".nav-mob-toggler");
      let overlayDiv = document.querySelector(".overlay-content");
      window.addEventListener("scroll", function () {
        if (window.matchMedia("(max-width: 992px)").matches) {
          let smallnav = document.querySelector("#sm-nav-input");

          if (window.pageYOffset == 0 || window.pageYOffset < 50) {
            smallnav.classList.remove("fixed-top", "py-2");
            smallnav.style.boxShadow = "none";
          }
          if (window.pageYOffset > 50) {
            smallnav.classList.add("fixed-top", "py-2");
            smallnav.style.boxShadow = "0 8px 6px -6px black";
          }
        }
      });
      let showMenu = false;
      const toggleMenu = () => {
        let menuBtn = document.getElementById("nav-mob-icon");

        if (showMenu == false) {
          menuBtn.classList.remove("fa-bars");
          menuBtn.classList.add("fa-xmark");
          overlayDiv.style.width = "100vw";
          overlayDiv.style.height = "100%";
          showMenu = true;
        } else {
          menuBtn.classList.add("fa-bars");
          menuBtn.classList.remove("fa-xmark");
          overlayDiv.style.width = 0;
          overlayDiv.style.height = "0";
          showMenu = false;
        }
      };

      menuButton.addEventListener("click", toggleMenu);
    </script>
    <script>
      let btnMobile = document.querySelector(".chatButtonMobile");
      let chatBoxMobile = document.querySelector(".boxMobile");
      let closeMobile = document.querySelector(".closeMobile");
      btnMobile.addEventListener("click", ShowChatBoxMobile);
      closeMobile.addEventListener("click", CloseChatBoxMobile);
      function ShowChatBoxMobile() {
        chatBoxMobile.classList.remove("d-none");
      }
      function CloseChatBoxMobile() {
        chatBoxMobile.classList.add("d-none");
      }
    </script>
    <script>
      function sign() {
        window.location = "./signup.html";
      }
    </script>
    <script>
      AOS.init({
        duration: 1000,
      });

      window.addEventListener("scroll", function () {
        let mobileNav = document.querySelector(".mobile-navbar");
        if (window.pageYOffset == 0) {
          MobileNav.classList.remove("fixed-top");
        }
        if (window.pageYOffset > 0) {
          MobileNav.classList.add("fixed-top");
        }
      });
    </script>
  </body>
</html>
