<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,minimum-scale=1"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="./Assets/orangeLogo.png"
    />
    <link rel="apple-touch-icon" href="./Assets/logo.png" />
    <title>VIP Mobile Number | Fancy</title>
  </head>

  <body>
    <footer class="footer-07">
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-md-12 text-center d-flex flex-column align-items-center"
          ></div>
        </div>

        <div class="row mt-2 foot-r w-100 justify-content-around">
          <div class="col-md-3 col-5 contact mt-2 mt-md-0">
            <div class="d-flex flex-column align-items-center">
              <h4 class="mb-3 text-center">WE ACCEPT</h4>
              <p class="mb-2 text-center">
                <a href="/Terms.html">Terms & conditions</a>
              </p>
              <p class="mb-2"><a href="/Privacy.html">Privacy policy</a></p>
              <p class="mb-2"><a href="/Refund.html">Refund policy</a></p>
            </div>
          </div>

          <div class="col-md-6 col-12 address">
            <div class="d-flex flex-column align-items-center">
              <h2 class="mb-3">CONTACT US</h2>
              <p class="mb-2 text-center">
                Kalra General Store Gol Bazar,Near Police Chowky,Mandi dabwali
                Distt. sirsa State - Haryana Pincode - 125104
              </p>
              <p>
                Email:<span class="foot-email">support@vipnumberclub.com</span>
              </p>
            </div>
          </div>

          <div class="col-md-3 col-5 support mt-2 mt-md-0">
            <div class="d-flex flex-column align-items-center">
              <h2 class="mb-3">SUPPORT</h2>
              <a href="/contactUs.html" class="mb-2">Contact Us</a>
              <a href="/FAQ.html" class="mb-0">FAQ'S</a>
              <ul
                class="ftco-footer-social d-flex align-items-center mt-2 ps-0"
              >
                <li class="ftco-animate me-3">
                  <a
                    href="https://twitter.com/VipNumberClub?t=kisV3II8-mVLAmLC68jfyw&s=08"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="Twitter"
                    ><span class="fa-brands fa-twitter"></span
                  ></a>
                </li>
                <li class="ftco-animate me-3">
                  <a
                    href="https://www.facebook.com/ViP-Number-Club-633811640408412/"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="Facebook"
                    ><span class="fa-brands fa-facebook-f"></span
                  ></a>
                </li>
                <li class="ftco-animate me-3">
                  <a
                    href="https://www.instagram.com/vipnumberclub/"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="Instagram"
                    ><span class="fa-brands fa-instagram"></span
                  ></a>
                </li>
                <li class="ftco-animate me-3">
                  <a
                    href="https://www.snapchat.com/add/vipnumberclub?share_id=wj4CI44_FvE&locale=en-IN"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="snapchat"
                    ><span class="fa-brands fa-snapchat"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
