<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="./Assets/orangeLogo.png"
    />
    <link rel="apple-touch-icon" href="./Assets/logo.png" />
    <title>VIP Mobile Number | Fancy</title>
  </head>
  <body>
    <footer class="footer-07">
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-md-12 text-center d-flex flex-column align-items-center"
          ></div>
        </div>

        <div class="row mt-2 foot-r w-100 justify-content-around">
          <div class="col-md-3 col-5 contact mt-2 mt-md-0">
            <div class="d-flex flex-column align-items-center">
              <h4 class="mb-3 text-center">WE ACCEPT</h4>
              <p class="mb-2 text-center">
                <a href="#">Terms & conditions</a>
              </p>
              <p class="mb-2"><a href="#">Privacy policy</a></p>
              <p class="mb-2"><a href="#">Refund policy</a></p>
            </div>
          </div>

          <div class="col-md-6 col-12 address">
            <div class="d-flex flex-column align-items-center">
              <h2 class="mb-3">CONTACT US</h2>
              <p class="mb-2 text-center">
                Shop No 23, Old idea point, Main market, Police station Road,
                Anupgarh Distt. Sri ganganagar Rajasthan 335701
              </p>
              <p>Email:<span class="foot-email"> cs@vipnumberstore.in</span></p>
            </div>
          </div>

          <div class="col-md-3 col-5 support mt-2 mt-md-0">
            <div class="d-flex flex-column align-items-center">
              <h2 class="mb-3">SUPPORT</h2>
              <p class="mb-2">Contact Us</p>
              <p class="mb-0">FAQ'S</p>
              <ul
                class="ftco-footer-social d-flex align-items-center mt-2 ps-0"
              >
                <li class="ftco-animate me-3">
                  <a
                    href="#"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="Twitter"
                    ><span class="fa-brands fa-twitter"></span
                  ></a>
                </li>
                <li class="ftco-animate me-3">
                  <a
                    href="#"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="Facebook"
                    ><span class="fa-brands fa-facebook-f"></span
                  ></a>
                </li>
                <li class="ftco-animate me-3">
                  <a
                    href="#"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="Instagram"
                    ><span class="fa-brands fa-instagram"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
